@page
@model Emprise.Web.Areas.Admin.Pages.ItemDropRate.IndexModel
@{
    ViewData["Title"] = "掉落管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">掉落管理</strong> / <small>掉落列表</small></div>
</div>

<div class="am-g">
    <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
            <div class="am-btn-toolbar am-fl">
                <div class="am-btn-group am-btn-group-xs">
                    <a asp-page="Add" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
                </div>

            </div>
        </div>
    </div>
    <div class="am-u-md-3 am-cf">
        <form class="am-form">
            <div class="am-fr">
                <div class="am-input-group am-input-group-sm">

                </div>
            </div>
        </form>
    </div>
</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                    <tr>
                        <th style="width:60px">ID</th>
                        <th style="width:120px">掉落类型</th>
                        <th style="width:120px">物品Id</th>
                        <th>最大数量</th>
                        <th>掉率几率</th>
                        <th>权重</th>
                        <th>金钱</th>
                        <th>经验</th>
                        <th>潜能</th>
                        <th style="width:350px">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItemDropRates)
                    {
                    <tr>
                        <td>@(item.Id)</td>
                        <td>@(item.WorkType)</td>
                        <td><a asp-page="./Edit" asp-route-id="@item.Id">@(item.WareId)</a></td>
                        <td>@(item.MaxNumber)</td>
                        <td>@(item.Percent)</td>
                        <td>@(item.Weight)</td>
                        <td>@(item.Money)</td>
                        <td>@(item.Exp)</td>
                        <td>@(item.Pot)</td>

                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a asp-page="./Edit" asp-route-id="@item.Id" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                    <a asp-page="./Delete" asp-route-id="@item.Id" class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <hr />
            <p>注：.....</p>
        </form>
    </div>

</div>


@section Scripts {
    <script type="text/javascript">

    </script>
}
