@page "{id}"
@model Emprise.Admin.Pages.NpcScript.EditModel
@{
    ViewData["Title"] = "脚本管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

@section CssJs{

    <link rel="stylesheet" type="text/css" href="~/simditor/styles/simditor.css" />

    <script type="text/javascript" src="~/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/simditor.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/beautify-html.js"></script>
    <script type="text/javascript" src="~/simditor/scripts/simditor-html.js"></script>

    <link rel="stylesheet" href="~/simditor/styles/simditor-html.css" media="screen" charset="utf-8" />
}
<div class="admin-content-body">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">脚本管理</strong> / <small>修改脚本</small></div>
    </div>

    <div class="am-margin">
        <form class="am-form" method="post">
            <div class="am-g">
                <p></p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="am-fade  am-in am-active">
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            <label asp-for="Script.Name" class="control-label"></label>
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" asp-for="Script.Name">
                            <span asp-validation-for="Script.Name" class="text-danger"></span>
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>


                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            <label asp-for="Script.Description" class="control-label"></label>
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" asp-for="Script.Description">
                            <span asp-validation-for="Script.Description" class="text-danger"></span>
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>


                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-2 am-text-right">
                            <label class="control-label" for="Script_Npc">Npc</label>
                        </div>
                        <div class="am-u-sm-10">
                            <ul id="npcs">
                                @foreach (var npc in Model.Npcs)
                                {
                                    <li>
                                        @(npc.Name)(@(npc.Id))
                                        <a href='javascript:;' class='removeNpc' id='@(npc.Id)'>X</a>
                                        <input type="hidden" name="NpcIds" value="@(npc.Id)">
                                    </li>
                                }
                            </ul>
                            <a class="am-btn am-btn-default am-btn-xs" id="addNpc">
                                <i class="am-icon-plus"></i>
                                添加Npc
                            </a>
                        </div>

                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            <label asp-for="Script.IsEnable" class="control-label"></label>
                        </div>
                        <div class="am-u-sm-2">
                            <label class="am-btn am-btn-default am-btn-xs">
                                <input type="checkbox" asp-for="Script.IsEnable" checked="checked"> 启用
                            </label>
                            <span asp-validation-for="Script.IsEnable" class="text-danger"></span>
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>



                    <div class="footor am-margin-top-sm">
                        <div class="am-u-sm-2 am-text-right">

                        </div>
                        <div class="am-u-sm-10">
                            <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                            <a href="@(Model.UrlReferer)" class="am-btn am-btn-default am-btn-xs backup">返回</a>
                            <div class="am-inline-block am-padding-left">
                                <p style="color:#ff0000">@(Model.ErrorMessage)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-margin">
                <input type="hidden" asp-for="UrlReferer">
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script src="~/layer/layer.js"></script>
    <script type="text/javascript">
            $(function () {
                $("input[type=checkbox]:checked").each(function () {
                    $(this).parent(".am-btn").addClass("am-active");
                });

                $("#addNpc").on("click", function () {
                    var index = layer.open({
                        type: 2,
                        title: "请选择要设置的脚本",
                        area: ["800px", "1000px"],
                        content: "@(Url.Page("/Npc/List"))",
                        success: function (layero, index) {

                        },
                        end: function () {

                        }
                    });
                    layer.full(index);
                });

                $(document).on("click", ".removeNpc", function () {
                    $(this).parent().remove();
                });
            });

        function selectNpc(id, name) {
            if ($("input[name='NpcIds'][value=" + id + "]").length > 0) {
                return;
            }
            $("#npcs").append("<li>" + name + "(" + id + ")         <a href='javascript:;' class='removeNpc' id='" + id + "'>X</a><input type='hidden' name='NpcIds' value='" + id + "'></li> ");
        }


    </script>
}
