@page
@model Emprise.Admin.Pages.ScriptCommand.AddModel
@{
    ViewData["Title"] = "脚本管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

@section CssJs{

    <link rel="stylesheet" type="text/css" href="/simditor/styles/simditor.css" />

    <script type="text/javascript" src="/simditor/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/simditor/scripts/module.js"></script>
    <script type="text/javascript" src="/simditor/scripts/hotkeys.js"></script>
    <script type="text/javascript" src="/simditor/scripts/simditor.js"></script>
    <script type="text/javascript" src="/simditor/scripts/beautify-html.js"></script>
    <script type="text/javascript" src="/simditor/scripts/simditor-html.js"></script>

    <link rel="stylesheet" href="/simditor/styles/simditor-html.css" media="screen" charset="utf-8" />

    <script type="text/javascript" src="/js/template-web.js"></script>
}
<div class="admin-content-body">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">脚本管理</strong> / <small>Script</small></div>
    </div>

    <div class="am-margin">
        <form class="am-form" method="post" onsubmit="return check()">
            <div class="am-g">
                <p>@(Model.Tips)</p>
                <div class="am-fade  am-in am-active">
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            分支名
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" asp-for="ScriptCommand.Name">
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>
                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            描述
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" asp-for="ScriptCommand.Description">
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            是否入口
                        </div>
                        <div class="am-u-sm-2">
                            <label class="am-btn am-btn-default am-btn-xs">
                                <input type="checkbox" asp-for="ScriptCommand.IsEntry"> 是否入口
                            </label>

                        </div>
                        <div class="am-u-sm-6">入口将显示在npc资料页面</div>
                    </div>

                    <div class="am-g am-margin-top">
                        <div class="am-u-sm-2 am-text-right">
                            排序
                        </div>
                        <div class="am-u-sm-4">
                            <input type="text" class="am-input-sm" asp-for="ScriptCommand.SortId" value="99">
                        </div>
                        <div class="am-u-sm-6"></div>
                    </div>


                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-2 am-text-right">
                            分支-如果
                        </div>
                        <div class="am-u-sm-10" id="caseIf">
                            <input type="hidden" asp-for="ScriptCommand.CaseIf">
                            <div class="am-form-inline am-form-group">
                                <select class="am-input-sm am-form-field conditions" style="width: 100px;">
                                    <option value="">请选择</option>
                                    @foreach (var item in Enum.GetValues(typeof(ConditionTypeEnum)))
                                    {
                                        <option value="@(item.ToString())">@(item.ToString())</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-4"></div>
                    </div>

                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-2 am-text-right">
                            分支-那么
                        </div>
                        <div class="am-u-sm-10" id="caseThen">
                            <input type="hidden" asp-for="ScriptCommand.CaseThen">
                            <div class="am-form-inline am-form-group">
                                <select class="am-input-sm am-form-field commands" style="width: 100px;">
                                    <option value="">请选择</option>
                                    @foreach (var item in Enum.GetValues(typeof(CommandTypeEnum)))
                                    {
                                        <option value="@(item.ToString())">@(item.ToString())</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-4"></div>
                    </div>

                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-2 am-text-right">
                            分支-否则
                        </div>
                        <div class="am-u-sm-10" id="caseElse">
                            <input type="hidden" asp-for="ScriptCommand.CaseElse">
                            <div class="am-form-inline am-form-group">
                                <select class="am-input-sm am-form-field commands" style="width: 100px;">
                                    <option value="">请选择</option>
                                    @foreach (var item in Enum.GetValues(typeof(CommandTypeEnum)))
                                    {
                                        <option value="@(item.ToString())">@(item.ToString())</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-4"></div>
                    </div>


                    <div class="am-g am-margin-top-sm">
                        <div class="am-u-sm-2 am-text-right">

                        </div>
                        <div class="am-u-sm-10">
                            <button type="submit" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
                            <a href="@(Model.UrlReferer)" class="am-btn am-btn-default am-btn-xs backup">返回</a>
                            <div class="am-inline-block am-padding-left">
                                <p style="color:#ff0000">@(Model.ErrorMessage)</p>
                                <p style="color:#5FB878">@(Model.SueccessMessage)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="am-margin">
                <input type="hidden" asp-for="UrlReferer">
            </div>
        </form>
    </div>
</div>


<partial name="_ScriptTemplate.cshtml" />



@section Scripts {

    <script type="text/javascript">
        var conditions = @Html.Raw(JsonConvert.SerializeObject(Model.Conditions));
        var fields = @Html.Raw(JsonConvert.SerializeObject(Model.Fields));
        var relations = @Html.Raw(JsonConvert.SerializeObject(Model.Relations));
        var events = @Html.Raw(JsonConvert.SerializeObject(Model.Events));
        var commands = @Html.Raw(JsonConvert.SerializeObject(Model.Commands));
        var activities = @Html.Raw(JsonConvert.SerializeObject(Model.Activities));

        $(function () {
            $("input[type=checkbox]:checked").each(function () {
                $(this).parent(".am-btn").addClass("am-active");
            });





            $(document).on("change", ".conditions", function () {
                var condition = $(this).val();
                console.log("condition=" + condition);
                $(this).nextAll("select").remove();
                $(this).nextAll("input").remove();

                if (condition == "") {
                    return;
                }

                var data = { fields: fields, relations: relations, activities: activities };

                if ($("#condition-" + condition).length>0) {
                    $(this).after(template("condition-" + condition, data));
                }

                var hasValue = true;
                $(this).parent().parent().find(".conditions").each(function () { if ($(this).val() == "") { hasValue = false; return; } });

                if (hasValue) {
                    var conditionDiv = $(".conditions").eq(0).clone();
                    var div = $("<div class='am-form-inline am-form-group'></div>");
                    $(div).append(conditionDiv);

                    $(this).parent().parent().find(".conditions:last").parent().after($(div));
                }

            });

            $(document).on("change", ".commands", function () {
                var command = $(this).val();
                console.log("command=" + command);
                $(this).nextAll("select").remove();
                $(this).nextAll("input").remove();

                if (command == "") {
                    return;
                }

                var data = { fields: fields, relations: relations };

                if ($("#command-" + command).length>0) {
                    $(this).after(template("command-" + command, data));
                }

                var hasValue = true;
                $(this).parent().parent().find(".commands").each(function () { if ($(this).val() == "") { hasValue = false; return; } });

                if (hasValue) {
                    var commandDiv = $(".commands").eq(0).clone();
                    var div = $("<div class='am-form-inline am-form-group'></div>");
                    $(div).append(commandDiv);

                    $(this).parent().parent().find(".commands:last").parent().after($(div));
                }
            });



        });


        function check() {
            var hasEmptyValue = false;
            var  caseIfs = [];
            $("#caseIf").find(".am-form-group").each(function () {
                var condition = $(this).children(".conditions").val();
                if (condition == "") {
                    return true;
                }
                console.log("condition=" + condition);

                var caseIf = {
                    condition: condition,
                    attrs: []
                };
                $(this).children(".attr").each(function () {
                    var val = $(this).val();
                    var attr = $(this).attr("attr");


                    if (val == "") {
                        $(this).css("border", "1px solid red");;
                        hasEmptyValue = true;
                    } else {
                        $(this).css("border", "1px solid #ccc");;
                    }

                    caseIf.attrs.push({ attr: attr, val: val });
                });

                caseIfs.push(caseIf);

                console.log("caseIf=" + JSON.stringify(caseIf));
            });
            var caseIfData = JSON.stringify(caseIfs);
            $("#ScriptCommand_CaseIf").val(caseIfData);

            var  caseThens = [];
            $("#caseThen").find(".am-form-group").each(function () {
                var command = $(this).children(".commands").val();
                if (command == "") {
                    return true;
                }
                console.log("command=" + command);

                var caseThen = {
                    command: command,
                    attrs: []
                };
                $(this).children(".attr").each(function () {
                    var val = $(this).val();
                    var attr = $(this).attr("attr");

                    if (val == "") {
                        $(this).css("border", "1px solid red");;
                        hasEmptyValue = true;
                    } else {
                        $(this).css("border", "1px solid #ccc");;
                    }

                    caseThen.attrs.push({ attr: attr, val: val });
                });

                caseThens.push(caseThen);

                console.log("caseThen=" + JSON.stringify(caseThen));

            });
            var caseThenData = JSON.stringify(caseThens);
            $("#ScriptCommand_CaseThen").val(caseThenData);


            var  caseElses = [];
            $("#caseElse").find(".am-form-group").each(function () {
                var command = $(this).children(".commands").val();
                if (command == "") {
                    return true;
                }
                console.log("command=" + command);

                var caseElse = {
                    command: command,
                    attrs: []
                };
                $(this).children(".attr").each(function () {
                    var val = $(this).val();
                    var attr = $(this).attr("attr");

                    if (val == "") {
                        $(this).css("border", "1px solid red");;
                        hasEmptyValue = true;
                    } else {
                        $(this).css("border", "1px solid #ccc");;
                    }

                    caseElse.attrs.push({ attr: attr, val: val });
                });

                caseElses.push(caseElse);

                console.log("caseElse=" + JSON.stringify(caseElse));


            });
            var caseThenData = JSON.stringify(caseElses);
            $("#ScriptCommand_CaseElse").val(caseThenData);

            if (hasEmptyValue) {
                return false;
            }
            return true;
        }
    </script>
}
