@page
@model Emprise.Admin.Pages.ScriptCommand.IndexModel
@{
    ViewData["Title"] = "分支管理";
    ViewData["MenuGroup"] = MenuGroupEnum.System;
}

<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">分支管理</strong> / <small>分支列表</small></div>
</div>

<div class="am-g">
    <div class="am-u-md-6 am-cf">
        <div class="am-fl am-cf">
            <div class="am-btn-toolbar am-fl">
                <div class="am-btn-group am-btn-group-xs">
                    <a asp-page="Add" asp-route-sid="@Model.SId" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</a>
                    <a href="@(Model.UrlReferer)" class="am-btn am-btn-default am-btn-xs backup">返回</a>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                    <tr>
                        <th class="table-id">ID</th>
                        <th class="table-title">分支名</th>
                        <th class="table-title">描述</th>
                        <th class="table-exits">是否入口</th>
                        <th class="table-exits">排序</th>
                        <th class="table-exits">分支-如果</th>
                        <th class="table-exits">分支-那么</th>
                        <th class="table-exits">分支-否则</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var script in Model.Commands)
                    {
                    <tr>
                        <td>@(script.Id)</td>
                        <td><a asp-page="./Edit" asp-route-id="@script.Id">@(script.Name)</a></td>
                        <td>@(script.Description)</td>
                        <td>@(script.IsEntry?"是":"否")</td>
                        <td>@(script.SortId)</td>
                        <td>@(script.CaseIf)</td>
                        <td>@(script.CaseThen)</td>
                        <td>@(script.CaseElse)</td>
                        <td>
                            <div class="am-btn-toolbar">
                                <div class="am-btn-group am-btn-group-xs">
                                    <a asp-page="./Edit" asp-route-id="@script.Id" class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</a>
                                    <a asp-page="./Delete" asp-route-id="@script.Id" class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>

            <hr />
            <p>注：.....</p>
        </form>
    </div>

</div>




@section Scripts {
    <script type="text/javascript">

    </script>
}