@page "{pageIndex?}"
@model Emprise.Admin.Pages.Room.ListModel
@{
    Layout = null;
}

<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - EMUD后台管理系统 - emprise.cn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="~/css/amazeui.min.css" />
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="~/css/app.css">
</head>
<body style="height:100%">
    <div style="height:100%">
        <div class="am-g am-padding">
            <div class="am-u-md-3 am-cf">
                <form class="am-form">
                    <div class="am-fr">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" class="am-form-field" asp-for="Keyword">
                            <span class="am-input-group-btn">
                                <button class="am-btn am-btn-default" type="submit">搜索</button>
                            </span>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="am-cf am-padding">
            <table class="am-table am-table-striped am-table-hover table-main">
                <thead>
                    <tr>
                        <th class="table-id">ID</th>
                        <th class="table-title">房间名</th>
                        <th class="table-exits">出口</th>
                        <th class="table-desc">描述</th>
                        <th class="table-work">属性</th>
                        <th class="table-set">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model.Paging.Data)
                    {
                        <tr>
                            <td>@(room.Id)</td>
                            <td>@(room.Name)</td>
                            <td>
                                @if (room.East > 0)
                                {
                                    <text>东：</text> @(room.EastName)
                                    <br />
                                }

                                @if (room.West > 0)
                                {
                                    <text>西：</text> @(room.WestName)
                                    <br />
                                }

                                @if (room.South > 0)
                                {
                                    <text>南：</text> @(room.SouthName)
                                    <br />
                                }

                                @if (room.North > 0)
                                {
                                    <text>北：</text> @(room.NorthName)
                                }
                            </td>
                            <td>@(room.Description)</td>
                            <td>
                                @(room.CanFight ? "PK" : "")
                                @(room.CanCollect ? "采集" : "")
                                @(room.CanCut ? "伐木" : "")
                                @(room.CanDig ? "挖矿" : "")
                                @(room.CanFish ? "钓鱼" : "")
                                @(room.CanHunt ? "打猎" : "")
                            </td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <a id="@(room.Id)" name="@(room.Name)" href="javascript: ;" class="am-btn am-btn-default am-btn-xs am-text-secondary exitroom"><span class="am-icon-dot-circle-o"></span> 选中</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            共 @(Model.Paging.Count) 条记录
            <div class="am-fr">
                <ul class="am-pagination">
                    <li><a asp-route-pageIndex="1"  asp-route-keyword="@(Model.Keyword)">«</a></li>

                    @for (var i = 0; i < Model.Paging.PageCount; i++)
                    {
                        if (Model.Paging.PageIndex == i + 1)
                        {
                            <li class="am-active"><a href="javascript:;">@(i + 1)</a></li>
                        }
                        else
                        {
                            <li><a asp-route-pageIndex="@(i+1)" asp-route-keyword="@(Model.Keyword)">@(i + 1)</a></li>
                        }
                    }

                    <li><a asp-route-pageIndex="@(Model.Paging.PageCount)" asp-route-keyword="@(Model.Keyword)">»</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/amazeui.min.js"></script>
    <script>
        $(function () {
            $(".exitroom").on("click", function () {
                var id = $(this).attr("id");
                var name = $(this).attr("name");
                parent.selectRoom(id, name);
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            })
        });
    </script>


</body>
</html>

















